@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --bg: #161616;
    --primary: #5E778C;
    --secondary: #D5E7F2;
    --extra: #A9C6D9;
    --white: #FFFFFF;
}