@import "tailwindcss";

:root{
  --bg: #161616;
}

body{
  background-color: var(--bg);
	background-image: radial-gradient(#ffffff21 2px, transparent 2px), radial-gradient(#ffffff21 2px, transparent 2px);
	background-size: 32px 32px;
	background-position: 0 0, 16px 16px;
}

